*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{
    text-decoration: none;
    color: #333;
}
header{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: skyblue; 
    margin: 0 auto;
}


header p.log{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0px;
    left: 30%;
    border: 1px dotted #333;
    text-indent: -9999px; 
    background: url(../images/signature.gif) no-repeat 50% 50%;
}

header p.ham{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    border: 1px dotted #333;
    text-indent: -9999px; 
    background: url(../images/ham.png) no-repeat 50% 50%;
    cursor: pointer;
}
header p.ham.on{
    background: url(../images/bar.png) no-repeat 50% 50%;
}
header p.icon{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px dotted #333;
    text-indent: -9999px; 
    cursor: pointer;
}
header p.icon1{background: url(../images/social_icon1.gif) no-repeat 50% 50%;}
header p.icon2{background: url(../images/social_icon2.gif) no-repeat 50% 50%;}
header p.icon3{background: url(../images/social_icon3.gif) no-repeat 50% 50%;}


/************************************************************/



.nav {
    width: 200px;
    background-color: lime;
    padding: 10px 0;
    position: absolute;
    top:70px;
    right:-200px;
    transition: all 0.3s;
}
.nav.active{
    right:0;
}
.nav ul li{
    text-align: center;
    background-color: #cf9;;
}
.nav>ul>li>a{
    background-color: lime;
}
.nav ul li a{
    display: block;
    line-height: 40px;
    height:45px;
    color:#222;
    text-decoration: none;
}

.nav ul li ul li a:hover{
    background-color: #cf0;;
}


/*js랑 연동하게 하려고 만든 거임*/
.nav ul li .sub{
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
}