*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color :#333;}


/* 전체 넓이1680 */

section{/*얘가 전체야*/
    width: 100%;
    /* height: ; */
}

.main{
    width: 1680px;
    height: auto;/*아직 몰라서 오토*/
    margin: 0 auto;
}

.main_top{
    width: 100%; /*위 1680을 따라감*/
    padding: 30px 0;
}

.main_top h1{
    font-size: 60px;
}

.mt-left{
    height: 90px; /* 이거 높이 낮게 주면 main middle ul 에서 display flex고장남*/
    box-sizing: border-box; /*  해당 box의 크기는 그만큼 더 커지지 않고 사용자가 지정한 너비나 높이만큼 길이에 맞추게 된다*/
}

.mt-left li{
    float: left;

}


.mt-left li a{
    display: inline-block;
    background-image: url(img/1234.png);
    background-repeat: no-repeat;
    background-position: 40px 10px;
    background-size: 30px 30px;
}

.mt-left li a{
    display: block; /*글자니까*/
    padding: 30px 10px;
    font-size: 32px; /*24가 맞는 거 같은데*/
}

.main_middle ul{
    height: 695px;
    /* display: flex;  이것만 해도 중앙 정렬 잘 됨 (1)
    justify-content: space-between; 이것만 해도 중앙 정렬 잘 됨 (1) float는 부모에게 넣는 것?*/
}

.main_middle ul li{
    float: left;       /* 이게 중앙정렬 방법(2)*/
    padding: 0 17px; /* 이게 중앙정렬 방법(2)*/
    width:388px;
    height: 695px;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.main_middle ul li:nth-child(1){padding-left: 0;}
.main_middle ul li:nth-child(4){  /* 이게 중앙정렬 방법(2)*/
    padding-right: 0px;  /* 이게 중앙정렬 방법(2)*/
    border-right: none;
}



.main_middle ul li .m_top{
    margin-top: 20px;
    width:388px;
    height:388px;
    border-radius: 30px;  
    overflow: hidden; /*넘치면 알아서 잘려*/
}
.main_middle ul li .m_top img{
    width:388px;
    height:388px;
    transition: all 0.3s;
}
.main_middle ul li .m_top img:hover {
    transform: scale(1.2);
}

.m_bot{
    padding: 20px 0 ;
}
.m_bot .txt1{
    padding-bottom: 15px;
}
.m_bot .txt1 span{
    display: inline-block;
    padding: 5px 7px;
    background-color: orange; 
    color: #fff;
    border-radius: 15px;
}
.m_bot .txt1_1 span{
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 7px;
    background-color: #0bab6d; 
    color: #fff;
    border-radius: 15px;
}
.m_bot .txt2{
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
}
.m_bot .txt3{
    padding: 15px 0;
    font-size: 18px;
}
.txt4{
    padding-top: 50px;
}
.txt4 span{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid#333;
    margin-left: 10px;
}

.txt4_4 span{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-top: 50px;
}
